{% load static %}
<!doctype html>
<html class="no-js" lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>Login | SIP-BPP</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	{% include "snippets/styles.html" %}

</head>

<body>
    <!--[if lt IE 8]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->
	<div class="error-pagewrap">
		<div class="error-page-int">
			<div class="content-error">
				<div class="hpanel">
					<div class="panel-body">
						<img style="margin-left: 160px; margin-bottom: 10px;" src="{% static "img/logo/logo-smk.jpg" %}" alt="" width="90" />
						<div class="text-center m-b-md custom-login">
							<h3 style="margin-bottom: 30px;">SIP-BPP SMKN 1 Dompu</h3>
						</div>
						<form method="POST" action="" id="loginForm">
							{% csrf_token %}
							<div class="form-group">
								<label class="control-label" for="username">Nama pengguna</label>
								<input type="text" placeholder="Nama pengguna" title="Please enter you username" required="" value="" name="{{ form.username.name }}" id="username" class="form-control">
							</div>
							<div class="form-group">
								<label class="control-label" for="password">Kata sandi</label>
								<input type="password" title="Please enter your password" placeholder="********" required="" value="" name="{{ form.password.name }}" id="password" class="form-control">
							</div>
							{# error messege #}
							{% if messages %}
							<div class="alert-icon shadow-inner wrap-alert-b">
								{% for message in messages %}
								{% if message.tags == 'error' %}
								<div class="alert alert-danger alert-mg-b alert-st-four alert-st-bg3">
									<i class="fa fa-times edu-danger-error admin-check-pro admin-check-pro-clr3" aria-hidden="true"></i>
									<p class="message-mg-rt"> {{ message }}</p>
								</div>
								{% endif %}
								{% endfor %}
							</div>
							{% endif %}
							{# end error messege #}
							<button class="btn btn-success btn-block loginbtn">Masuk</button>
						</form>
					</div>
				</div>
			</div>
			<div class="text-center login-footer">
				<p>Copyright © 2020. All rights reserved. SMKN 1 Dompu</p>
			</div>
		</div>   
	</div>

	{% include "snippets/scripts.html" %}

</body>

</html>