{% load static %}

<!-- jquery
	============================================ -->
    <script src="{% static "js/vendor/jquery-1.12.4.min.js" %}"></script>
    <!-- bootstrap JS
    	============================================ -->
    	<script src="{% static "js/bootstrap.min.js" %}"></script>
    <!-- wow JS
    	============================================ -->
    	<script src="{% static "js/wow.min.js" %}"></script>
    <!-- price-slider JS
    	============================================ -->
    	<script src="{% static "js/jquery-price-slider.js" %}"></script>
    <!-- meanmenu JS
    	============================================ -->
    	<script src="{% static "js/jquery.meanmenu.js" %}"></script>
    <!-- owl.carousel JS
    	============================================ -->
    	<script src="{% static "js/owl.carousel.min.js" %}"></script>
    <!-- sticky JS
    	============================================ -->
    	<script src="{% static "js/jquery.sticky.js" %}"></script>
    <!-- scrollUp JS
    	============================================ -->
    	<script src="{% static "js/jquery.scrollUp.min.js" %}"></script>
    <!-- counterup JS
    	============================================ -->
    	<script src="{% static "js/counterup/jquery.counterup.min.js" %}"></script>
    	<script src="{% static "js/counterup/waypoints.min.js" %}"></script>
    	<script src="{% static "js/counterup/counterup-active.js" %}"></script>
    <!-- mCustomScrollbar JS
    	============================================ -->
    	<script src="{% static "js/scrollbar/jquery.mCustomScrollbar.concat.min.js" %}"></script>
    	<script src="{% static "js/scrollbar/mCustomScrollbar-active.js" %}"></script>
    <!-- metisMenu JS
    	============================================ -->
    	<script src="{% static "js/metisMenu/metisMenu.min.js" %}"></script>
    	<script src="{% static "js/metisMenu/metisMenu-active.js" %}"></script>
    <!-- morrisjs JS
    	============================================ -->
        {% comment %}         
    	<script src="{% static "js/morrisjs/raphael-min.js" %}"></script>
    	<script src="{% static "js/morrisjs/morris.js" %}"></script>
    	<script src="{% static "js/morrisjs/home3-active.js" %}"></script>
        {% endcomment %}
    <!-- morrisjs JS
    	============================================ -->
    	<script src="{% static "js/sparkline/jquery.sparkline.min.js" %}"></script>
    	<script src="{% static "js/sparkline/jquery.charts-sparkline.js" %}"></script>
    	<script src="{% static "js/sparkline/sparkline-active.js" %}"></script>
    <!-- calendar JS
    	============================================ -->
    	<script src="{% static "js/calendar/moment.min.js" %}"></script>
    	<script src="{% static "js/calendar/fullcalendar.min.js" %}"></script>
    	<script src="{% static "js/calendar/fullcalendar-active.js" %}"></script>
    <!-- plugins JS
    	============================================ -->
    	<script src="{% static "js/plugins.js" %}"></script>
    <!-- main JS
    	============================================ -->
    	<script src="{% static "js/main.js" %}"></script>
    <!-- tawk chat JS
    	============================================ -->
    	{% comment %}            
        <script src="{% static "js/tawk-chat.js" %}"></script>
        {% endcomment %}

          <!-- Charts JS
            ============================================ -->
            <script src="{% static "js/charts/Chart.js" %}"></script>
            <script src="{% static "js/charts/rounded-chart.js" %}"></script>

         <!-- c3 JS
            ============================================ -->
            <script src="{% static "js/c3-charts/d3.min.js" %}"></script>
            <script src="{% static "js/c3-charts/c3.min.js" %}"></script>
            <script src="{% static "js/c3-charts/c3-active.js" %}"></script>

<!-- data table JS
	============================================ -->
	<script src="{% static "js/data-table/bootstrap-table.js" %}"></script>
	<script src="{% static "js/data-table/tableExport.js" %}"></script>
	<script src="{% static "js/data-table/data-table-active.js" %}"></script>
    <script src="{% static "js/data-table/bootstrap-table-editable.js" %}"></script>
    <script src="{% static "js/data-table/bootstrap-editable.js" %}"></script>
    <script src="{% static "js/data-table/bootstrap-table-resizable.js" %}"></script>
    <script src="{% static "js/data-table/colResizable-1.5.source.js" %}"></script>
    <script src="{% static "js/data-table/bootstrap-table-export.js" %}"></script>
    <script src="{% static "js/duallistbox/jquery.bootstrap-duallistbox.js" %}"></script>
    <script src="{% static "js/duallistbox/duallistbox.active.js" %}"></script>

     <!-- input-mask JS
        ============================================ -->
        <script src="{% static "js/input-mask/jasny-bootstrap.min.js" %}"></script>

    <!-- datapicker JS
        ============================================ -->
        <script src="{% static "js/datapicker/bootstrap-datepicker.js" %}"></script>
        <script src="{% static "js/datapicker/datepicker-active.js" %}"></script>

        <script src="{% static "js/autoNumeric.js" %}"></script>

        <script type="text/javascript">
        $(document).ready(function(){
            $('#rupiah').autoNumeric('init');
        });
        </script>

        <script>
        (function ($) {
           "use strict";

           c3.generate({
            bindto: '#pembayaran-total',
            data:{
                columns: [
                ['Siswa yang telah membayar hingga bulan ini', {{ jumlah_siswa_yang_membayar_bulan_ini_lebih }}],
                ['Siswa yang belum membayar hingga bulan ini', {{ jumlah_siswa_yang_tdk_membayar_bulan_ini_lebih }}]
                ],
                colors:{
                    data1: '#006DF0',
                    data2: '#933EC5'
                },
                type : 'pie'
            }
        });

            var ctx = document.getElementById("piechart");
    var piechart = new Chart(ctx, {
        type: 'pie',
        data: {
            labels: [{% for key in lunas_bulan_ini.keys %}"{{ key }}",{% endfor %}],
            datasets: [{
                label: 'pie Chart',
                backgroundColor: [
                    'red',
                    'green',
                    'blue',
                    'cyan',
                    'magenta',
                    'yellow',
                    'orange',
                    'pastel',
                ],
                data: [{% for key in lunas_bulan_ini.values %}"{{ key }}",{% endfor %}]
            }]
        },
        options: {
            responsive: true
        }
    });


       })(jQuery);
       </script>